.todo {
    width:50%;
    margin:50px auto;
    border: 3px solid grey;
    border-radius: 30px;
    background-image: url('https://plus.unsplash.com/premium_photo-1661963783275-dff88a0296f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80');
    background-size: cover;
}